/*=======================================================================
  Generic Styling
=======================================================================*/
body {
  font-family: "Roboto";
  background-color: #eeeff1;
  margin: 0;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  background: white;
}

.horizontal-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.info-container {
  width: 370px;
  padding: 15px 35px 40px 35px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.info-container > p {
  line-height: 1.5;
  margin-top: 10px;
}

.info-container > h1 {
  font-family: "Roboto_Bold";
  margin-bottom: 0;
  font-size: 27pt;
}

.info-container > button {
  width: 100%;
  height: 55px;
}

/*=======================================================================
  Header Styling
=======================================================================*/
.header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
}

.logo-container {
  width: 235px;
  padding: 22px 20px;
  border-right: 1px solid #efefef;
}

.logo {
  max-width: 205px;
  margin: 0 auto;
  display: block;
}

.accessibility-bar {
  height: 34px;
  border-bottom: 1px solid #efefef;
  font-size: 10pt;
  display: flex;
  justify-content: flex-end;
}

.accessibility-bar > ul {
  align-items: center;
}

.accessibility-bar > ul > li {
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
}

.call-us-container {
  background: #14a65b;
  color: white;
}

.navbar {
  display: flex;
  height: calc(100px - 35px);
}

.navbar > ul {
  width: 100%;
}

.navbar > ul > li {
  flex: 1 1 auto;
}

.navbar > ul > li a {
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.accessibility-select-container {
  padding: 3px;
  border: 1px solid #f0f0f0;
}

.contrast1 {
  color: yellow;
  background: black;
}

.contrast2 {
  color: #003e78;
}

.navbar > .burger-btn,
.navbar > .contact-us-icon {
  color: #003e78;
  font-size: 21pt;
  margin-left: 15px;
}

.navigation-bar-containers {
  width: 100%;
}

.mobile-nav-menu {
  background-color: rgb(247, 247, 247);
  border-top: 1px solid #f0f0f0;
  z-index: 99999;
  position: absolute;
  width: 100%;
  display: none;
  box-shadow: 0 8px 8px #888888;

}

.nav-menu-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.nav-menu-list > li {
  padding: 20px 15px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 10pt;
}

.nav-menu-list > li > a {
  cursor: pointer;
}

.nav-menu-list > li > a:hover {
  text-decoration: underline;
}

/*=======================================================================
  Versa Connect Banner Styling
=======================================================================*/
.versa-connect-header {
  background-color: #003e78;
  color: white;
  display: flex;
  font-size: 13pt;
}

.vehicle-dropdown {
  padding: 25px 40px;
  font-family: "Roboto_Bold";
}

.banner-nav > li {
  width: 150px;
  height: 70px;
}

.banner-nav > li > a {
  padding: 25px 0px;
  height: 70px;
  display: block;
  cursor: pointer;
}

.banner-nav-mini {
  padding: 15px 25px;
}

/*=======================================================================
  Versa Connect Image Styling
=======================================================================*/
.versa-connect-banner {
  position: relative;
  max-height: 500px;
}

.versa-connect-banner > .info-container {
  position: absolute;
  top: 0;
}

/*=======================================================================
  Vehicle Spec Div
=======================================================================*/
.vehicle-spec-container {
  padding: 50px 150px;
}

.veh-spec-table {
  margin-right: 10px;
}

.veh-spec-table > tbody > tr > td,
th {
  width: 180px;
}

.veh-dimensions-container {
  display: inline-flex;
  justify-content: center;
}

#view-offers-btn {
  display: block;
  margin: 0 auto;
}

.offer-btn-container > .btn {
  width: 270px;
}

#veh-spec-btn-group {
  margin-bottom: 20px;
}

#veh-spec-btn-group > button {
  width: 290px;
}

table {
  border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: left;
  height: 25px;
}

td {
  padding: 17px 15px;
  border: 1px solid #adb0b2;
}

.td-headers {
  background-color: #e5e8e8;
}

.colour-picker-container,
.veh-colour-types-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.veh-colour-types-container > .colour-types {
  border-bottom: 1px solid #efefef;
  margin-left: 20px;
  width: 50%;
  cursor: pointer;
  padding: 15px 0;
  text-align: center;
  font-size: 9pt;
  font-family: "Roboto_Bold";
  color: rgb(190, 193, 198);
}

.veh-colour-types-container > .active {
  border-bottom: 1px solid black;
  color: black;
  width: 20%;
}

.interior-trim-container {
  display: flex;
}

.interior-trim-img {
  object-fit: cover;
  height: 300px;
  object-position: top;
  width: 100%;
}

.trim-details {
  font-size: 11pt;
}

#veh-layout-container {
  margin-bottom: 25px;
}

/*=======================================================================
  Versa Connect Carousel Styling
=======================================================================*/
.vehicle-carousel-container {
  max-height: 615px;
}

.carousel-img {
  object-fit: cover;
  max-height: 615px;
}

/*=======================================================================
  Versa Connect Offers Styling
=======================================================================*/
.versa-connect-offers-container {
  background-color: #efefef;
  padding: 50px 150px 60px 150px;
}

.versa-connect-offers-container > p {
  margin-bottom: 30px;
  font-size: 12pt;
}

/*=======================================================================
  Keeping you going Styling
=======================================================================*/
.keeping-you-going-container {
  height: 428px;
  position: relative;
  padding: 50px 150px;
}

.keeping-you-going-container > img {
  position: absolute;
  top: 0;
  left: 0;
}

/*=======================================================================
  Footer Styling
=======================================================================*/
.footer {
  background-color: #43484d;
  padding: 70px 150px 40px 150px;
}

.footer-text-container {
  display: flex;
}

.site-map-table {
  color: white;
  width: 100%;
}

.site-map-table > tbody > tr > td {
  border: none;
  padding: 10px;
}

.wav-comment {
  color: #868e95;
  align-self: flex-end;
}

.copyright-info {
  margin-top: 50px;
  font-size: 9pt;
  color: #868e95;
}

/*=======================================================================
  Subscribe Div Styling
=======================================================================*/
.subscribe-container {
  margin-top: 50px;
}

.subscribe-popup {
  float: right;
  background: white;
  width: 400px;
  padding: 15px 20px;
}

.subscribe-popup > h2 {
  margin-top: 0;
}

.subscribe-txtbox {
  color: black;
  background-color: #eaeaea;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-right: 10px;
  width: 30%;
  display: inline-block;
}

.subscribe-btn {
  width: 45px;
}

/*=======================================================================
  Mobile Optimisations
=======================================================================*/
@media (min-width: 300px) {
  .accessibility-bar,
  .navbar > .horizontal-nav,
  .banner-nav {
    display: none;
  }

  .navbar > .burger-btn,
  .navbar > .contact-us-icon {
    display: initial;
  }

  .header {
    height: 60px;
  }

  .logo-container {
    padding: 15px 15px;
    width: 200px;
  }

  .navbar {
    justify-content: flex-end;
  }

  .versa-connect-banner > .info-container,
  .keeping-you-going-container {
    display: none;
  }

  .veh-dimensions-container {
    flex-wrap: wrap;
  }

  .vehicle-spec-container,
  .versa-connect-offers-container,
  .footer {
    padding: 50px 15px;
  }

  .subscribe-container {
    display: none;
  }

  .veh-spec-btn-group > button {
    font-size: 9pt;
  }

  .footer-text-container {
    flex-wrap: wrap;
  }

  .wav-comment,
  .site-map-table-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .interior-trim-container {
    flex-wrap: wrap;
  }

  .interior-trim-container > .interior-trim {
    max-width: calc(50% - 20px);
    margin-right: 20px;
  }

  #view-offers-btn {
    margin-top: 25px;
  }
}

@media (min-width: 880px) {
  .banner-nav {
    display: flex;
  }

  .banner-nav-mini {
    display: none !important;
  }

  .versa-connect-banner > .info-container {
    display: block;
  }

  .vehicle-spec-container {
    padding: 50px 150px;
  }

  .subscribe-container {
    display: block;
  }

  .keeping-you-going-container {
    display: block;
  }

  .veh-spec-btn-group > button {
    font-size: 11pt;
  }

  .footer-text-container {
    flex-wrap: nowrap;
    padding-top: 100px;
  }

  .wav-comment,
  .site-map-table-container {
    width: 50%;
  }

  .interior-trim-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
  }
}

@media (min-width: 950px) {
  .versa-connect-banner > .info-container {
    top: 2%;
    left: 5%;
  }
}

@media (min-width: 1080px) {
  .logo-container {
    width: 235px;
    padding: 22px 20px;
  }

  .navbar > .burger-btn,
  .navbar > .contact-us-icon {
    display: none;
  }

  .accessibility-bar,
  .navbar > .horizontal-nav {
    display: flex;
  }

  .header {
    height: inherit;
  }

  .veh-dimensions-container {
    flex-wrap: nowrap;
  }

  .versa-connect-banner > .info-container {
    top: 8%;
    left: 10%;
  }
}
