/*=======================================================================
  Font Faces
=======================================================================*/
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_Bold";
  src: url(../assets/fonts/Roboto-Bold.ttf);
}
