/*=======================================================================
  Button Styling
=======================================================================*/
button {
  font-family: "Roboto";
  cursor: pointer;
  font-size: 11pt;
}

.btn {
  height: 42px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-primary {
  background-color: #017edb;
  color: white;
}

.btn-secondary {
  background-color: #003e78;
  color: white;
}


.btn-outline-secondary {
  color: #003e78;
  border-color: #003e78;
  background-color: white;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: #003e78;
  border-color: #003e78;
}


.btn-group {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  display: flex;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: -1px;
}

.active-secondary-btn {
  background-color: #003e78;
  color: white;
}


/* Vehicle Colour Picker Styles
================================================== */
.colour-picker-icon {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 8px 8px #888888;
  margin-left: 2%;
  cursor: pointer;
}

.silver-swatch {
  background-color: rgb(143, 145, 148);
}

.metalicious-swatch {
  background-color: rgb(153, 154, 143);
}
.red-swatch {
  background-color: rgb(191, 50, 50);
}

.magnetic-swatch {
  background-color: rgb(74, 73, 70);
}

.guard-swatch {
  background-color: rgb(60, 64, 60);
}  

.solar-swatch {
  background-color: rgb(144, 133, 74);
}

.deep-impact-blue-swatch {
  background-color: rgb(51, 59, 90);
}  


.black-swatch {
  background-color: rgb(37, 37, 37) ;
}  

.blazer-blue-swatch {
  background-color: rgb(35, 37, 47);
}  
